.galery {
    position: absolute;
    display: flex;
    background-color: blue;
    width: 800px;
    height: 700px;
    overflow: hidden;
    top: 5rem;
    right: 2.1rem;
}
.galery_images{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}
.galery_images ol {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    list-style: none; 
    padding: 0;
    margin: 0; 
}

.galery_images li {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.galery_images img {
    width: 250px;
    height: 300px;
    object-fit: cover; 
}