
main{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
section{
    display: flex;
    margin: auto;
    width: 85%;
    height: 500px;
    background-color: var(--bg-color-transparent);
    position: absolute;
    top: 50%;    /* Move 50% para baixo */
    left: 50%;   /* Move 50% para a direita */
    transform: translate(-50%, -50%); /* Ajusta para o centro exato */
    border-radius: 6px;
    box-shadow:#000000ba 5px 7px 7px 3px;
}

footer{
    background-color: var(--footer-bg-transparent);
}
.about{
    display: flex;
    position: absolute;
    width: 75%;
    flex-direction: column;
    justify-content: space-around;
    top: 10%;
    left: 20%;
}
.about > h1{
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    top: -20px;
}
.about > h2{
    font-size: 1.9rem;
}
.about > p{
    font-size: 1.1rem;
}
.profile-picture {
    position: absolute;
    width: 200px;
    height: 250px;
    border-radius: 8px;
    overflow: hidden;
    background: #212121;
    transition: width 0.5s ease, height 0.5s ease;
    background-color: var(--header-bg);
    border: var(--card-border) 2.5px solid;
    top: -70px;
    left: 20px;
    box-shadow:#000000ba 5px 5px 5px 3px;
}
.profile-picture strong{
    font-weight: bold;
}
.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}
.profile-picture:hover img {
    transform: scale(1.1);
}

.galery {
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    width: 0px;
    height: 0px;
    top: 4rem;
    right: 0.7rem;
    z-index: 9999;
    border-radius: 5px;
    overflow: hidden;
    padding-left: 40px;
    padding-right: -40px;
    transition: all 0.5s ease-in-out;
    box-shadow:#000000ba 5px 7px 7px 3px;
}
.galery-visible{
    top: 5rem;
    width: 600px;
    height: 365px;
}
.galery_images {
    display: flex;
    width: 100%;
    overflow: hidden; /* Garante que apenas uma parte do conteúdo seja visível */
}
.galery_images ul {
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease-in-out; /* Animação suave ao mover as imagens */
}
.galery_images li {
    flex-shrink: 0; /* Garante que os itens não encolham */
    width: 230px;
    height: 320px;
}
.galery_images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20rem;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}
.left {
    left: -3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}
.right {
    right: -3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}
.arrow:hover {
    color: aquamarine;
}
.close-window{
    position: relative;
    top: 15px;
    left: -30px;
    font-size: 1.2rem;
    font-weight: bolder;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.close-window:hover{
    color: aquamarine;
}


/* Media Query */
@media (max-width:768px) {
    .galery-visible {
        top: 5rem;
        width: 300px;
        height: 365px;
    }
    .galery_images {
        display: flex;
        width: 100%;
        overflow: auto;
    }
    html{
        overflow: hidden;
    }
    
    .theme-checkbox {
        margin-top: 8px;
    }
    header {
        background-color: var(--header-bg);
        padding: 1em 2em;
        display: flex
    ;
        justify-content: end;
        align-items: center;
        border-bottom: 2px solid var(--text-color);
    }
    header>h1{
        display: none;
    }
    section{    
    position: absolute;
    display: flex;
    margin: auto;
    width: 85%;
    height: 450px;
    background-color: var(--bg-color-transparent);
    transform: translate(-50%, -50%);
    border-radius: 6px;
    box-shadow: #000000ba 5px 7px 7px 3px;
    top: 380px;
}
.about > h1{
    position: relative;
    left: 60px;
    font-size: 1.7rem;
}
.about > h2{
    font-size: 1.5rem;
}
.about > p{
    height: fit-content;
    max-height:70px ;
    overflow: auto;
    font-size: 1rem;
}
.profile-picture {
    position: absolute;
    width: 100px;
    height: 150px;
    border-radius: 8px;
    overflow: hidden;
    background: #212121;
    transition: width 0.5s ease, height 0.5s ease;
    background-color: var(--header-bg);
    border: var(--card-border) 2.5px solid;
    top: -70px;
    left: 20px;
    box-shadow: #000000ba 5px 5px 5px 3px;
}
}