@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*,html{
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;

    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */

    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal
}
::-webkit-scrollbar {
    width: 4px;               /* Largura da barra de rolagem */
    height: 12px;              /* Altura da barra de rolagem (para rolagem horizontal) */
}

::-webkit-scrollbar-track {
    background: #313131;       /* Cor do fundo da barra de rolagem */
    border-radius: 3px;       /* Bordas arredondadas */
}

::-webkit-scrollbar-thumb {
    background-color: #888;    /* Cor da "pegada" (parte que se move) */
    border-radius: 10px;       /* Bordas arredondadas */
    border: 1px solid #cacaca; /* Cria espaço ao redor da pegada */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;    /* Cor ao passar o mouse */
}


.light-theme {
    --bg-color: #f5f5f5;
    --text-color: #333;
    --header-bg: #ffffff;
    --footer-bg: #dddddd;
    --link-color: #333;
    --button-bg: #212121;
    --button-color: #ffffff;
    --card-border:#4f5052;
}

.dark-theme {
    --bg-color: #212121;
    --text-color: #ffffff;
    --header-bg: #141414;
    --footer-bg: #1b1b1b;
    --link-color: #f5f5f5;
    --button-bg: #24aeee;
    --button-color: #212121;
    --card-border:#f7f7f7;
}

/* First Interaction (Get User Name) */
.get_name{
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
    display: flex;
    transition: all ease-in-out 1.35s;
}
.get_name .container{
    position: relative;
    margin: auto;
    text-align: center;
    bottom: 50px;
    width: fit-content;
    line-height: 40px;
    left: -30px;
    top: -70px;
}

/* Input */
.get_name .input-style{
    padding: 10px;
    border: 2px solid #6c98ca;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    outline: none;
    width: 250px;
}

.get_name .input-style:focus{
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Button */
.btn {
    outline: 0;
    align-items: center;
    justify-content: space-between;
    background: #007bff;
    width: 120px;
    height: 45px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
}

.btn:hover {
    opacity: .95;
}

.btn .animation {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
    0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }

    100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }
}

.get_name .info{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* "fade-out" */
.get_name.swapped{
    transform: translateY(-2100px);
    height: 0px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: all 0.3s, color 0.3s;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 100vh;
}

/* Header */
header {
    background-color: var(--header-bg);
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--text-color);
}

header h1 {
    font-size: 2em;
    margin-left: 38%;
}

nav ol {
    display: flex;
    list-style: none;
    gap: 1.5em;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: var(--link-color);
    transition: color 0.3s;
}

nav a:hover {
    color: #1788d3;
}

/* Footer */
footer {
    background-color: var(--footer-bg);
    text-align: center;
    padding: 1em;
    font-size: 0.9em;
    color: var(--text-color);
    border-top: 2px solid var(--text-color);
    bottom: 0rem;
    width: 100%;
    flex-shrink: 0; /* Impede o rodapé de encolher */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  z-index: 1000; /* Garante que o rodapé fique acima de outros elementos */
    transition: background-color 0.3s, color 0.3s;

}



/* Card e seção principal */
#about {
    padding: 2em;
}
#about > h2{
font-weight: bold;
margin-bottom: 10px;
}
#cards {
    display: flex;
    gap: 10px;
}

.card {
    width: 200px;
    height: 250px;
    border-radius: 8px;
    overflow: hidden;
    background: #212121;
    position: relative;
    transition: width 0.5s ease, height 0.5s ease;
    background-color: var(--header-bg);
    border: var(--card-border) 2.5px solid;
}
.card strong{
    font-weight: bold;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.card:hover {
    width: 300px;
    height: 350px;
}

.card:hover img {
    transform: scale(1.1);
}

.card .info {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.438);
    color: #fff;
    width: 100%;
    padding: 10px;
    transform: translateY(100%);
    transition: transform 0.5s ease 0.3s;
    opacity: 0;
}

.card:hover .info {
    transform: translateY(0);
    opacity: 1;
}

.conhecer-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #16a8c2;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.conhecer-btn:hover {
    background-color: #1c70be;
    cursor: pointer;
}

.resumo{
width: 75%;
margin-left:30px;
text-align: justify;
line-height: 25px;
}
.resumo > h2{
    font-weight: bold;
    margin-bottom: 10px;
}
.theme-checkbox {
    --toggle-size: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 6.25em;
    height: 3.125em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #e6e3e3 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 99em;
    position: absolute;
    cursor: pointer;
    font-size: var(--toggle-size);
    box-shadow: inset #0000008c 0px 0px 8px 3px;
    margin-top: 20px;
    margin-left: 30px;
    z-index: 100000;
}

.theme-checkbox::before {
    content: "";
    width: 2.25em;
    height: 2.25em;
    position: absolute;
    top: 0.438em;
    left: 0.438em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.theme-checkbox:checked::before {
    left: calc(100% - 2.25em - 0.438em);
    background-position: 0;
}

.theme-checkbox:checked {
    background-position: 100%;
}

/* Animação de "push para cima" */
@keyframes pushUp {
    0% {
        transform: translateY(100%); /* Inicia fora da tela (para baixo) */
        opacity: 0;
    }
    100% {
        transform: translateY(0); /* Volta para sua posição normal */
        opacity: 1;
    }
}

/* Classe de animação para o elemento main */
.PushUp-animation {
    animation: pushUp 1s ease-out forwards; /* 1s de duração com efeito 'ease-out' */
}